@value facebookPrim, facebookPrimHl, facebookFg, googlePrim, googlePrimHl, googleFg, linkedinPrim, linkedinPrimHl, linkedinFg, githubPrim, githubPrimHl, githubFg from "@styles/colors/sites.css";
@value backgroundPrim from '@styles/colors/colors.css';

@font-face {
  font-family: 'iconic-sans';
  src: url('./fontello.eot?25083029');
  src: url('./fontello.woff2?25083029') format('woff2'),
       url('./fontello.woff?25083029') format('woff'),
       url('./fontello.ttf?25083029') format('truetype'),
       url('./fontello.svg?25083029#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

/*ICONS*/
.icon-font {
  font-family: 'iconic-sans';
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-github:before { content: '\f09b'; } /* '' */
.icon-graduation-cap:before { content: '\f19d'; } /* '' */
.icon-google:before { content: '\e800'; } /* '' */
.icon-mail:before { content: '\f0e0'; } /* '' */
.icon-facebook:before { content: '\f300'; } /* '' */
.icon-facebook-rect:before { content: '\f301'; } /* '' */
.icon-twitter:before { content: '\f302'; } /* '' */
.icon-twitter-bird:before {color: #00aced; content: '\f303'; } /* '' */
.icon-google-rect:before {content: '\f309'; } /* '' */
.icon-linkedin:before {content: '\f31a'; } /* '' */
.icon-linkedin-rect:before {content: '\f31b'; } /* '' */

/*in CSS-modules, classes cannot be exported if there is no tag-less instance of it*/
/*and inheritance cannot be used in tags*/
.icon-github { composes: icon-font; }
.icon-graduation-cap { composes: icon-font; }
.icon-google { composes: icon-font; }
.icon-mail { composes: icon-font; }
.icon-facebook { composes: icon-font; }
.icon-facebook-rect { composes: icon-font; }
.icon-twitter { composes: icon-font; }
.icon-twitter-bird { composes: icon-font; }
.icon-google-rect { composes: icon-font; }
.icon-linkedin { composes: icon-font; }
.icon-linkedin-rect { composes: icon-font; }

/*TEXTLESS ICONS*/
.icon-facebook-textless {
  composes: icon-facebook;
  width: 0.33em;
  margin-right: 0;
  margin-left: -0.18em;
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
.icon-linkedin-textless {
  composes: icon-linkedin;
  margin-right: 0;
  margin-left: -0.43em;
  width: 0.55em;
}
.icon-github-textless {
  composes: icon-github;
  width: 5px;
  margin-right: 0;
  margin-left: -0.43em;
  font-size: 30px;
  line-height: 11px;
}

/*BUTTONS (this is where the colours should go... better to handle both background and foreground in one place)*/
.btn { transition: all 200ms ease-out;}
.github-btn:hover, .github-btn:focus { color: githubPrimHl; }
.github-btn { composes: btn; background-color: githubFg; color: githubPrim; }
.linkedin-btn:hover, .linkedin-btn:focus { background-color: linkedinPrimHl; color: linkedinFg; }
.linkedin-btn { composes: btn; color: linkedinFg; background-color: linkedinPrim; }
.google-btn:hover, .gplus-btn:focus { color: googleFg; background-color: googlePrimHl; }
.google-btn { composes: btn; color: googleFg; background-color: googlePrim; }
.facebook-btn:hover, .facebook-btn:focus { color: facebookFg; background-color: facebookPrimHl }
.facebook-btn { composes: btn; color: facebookFg; background-color: facebookPrim; }

/*TEXTLESS BUTTONS; the only difference is the inclusion of a border.*/
/*base class for buttons; allows for multiple colours of an icon, and borders*/
.btn-textless { border-color: backgroundPrim; }

.github-btn-textless { composes: btn-textless; composes: github-btn; }
.linkedin-btn-textless { composes: btn-textless; composes: linkedin-btn; }
