/*Social networking buttons*/
:global .social-login-btn {
  color: #fff;
  border-radius: 20px;
  margin-bottom: 10px;
}

:global .span-parent {
 min-width: 100%;
}

:global .facebook-bg-color {
  background-color: #3b5998;
}
:global .linkedin-bg-color {
  background-color: #0077b5;
}
:global .google-bg-color {
  background-color: #d34836;
}
:global .facebook-border-color {
  border-color: #3b5998;
}
:global .linkedin-border-color {
  border-color: #0077b5;
}
:global .google-border-color {
  border-color: #d34836;
}
:global .btn-icon {
  float: left;
}
:global .social-btn-text {
  font-weight: 600;
  margin-left: 6px;
  margin-right: 6px;
}
:global .separator {
  content: '';
  display: inline-block;
  background: #888;
  margin: 0px 4px;
  height: 20px;
  width: 1px;
  vertical-align: top;
  float: left;
}
